.hero{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
/*    background-image: url("https://t4.ftcdn.net/jpg/03/17/72/47/360_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
    padding: 30px;

}
.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 20px;
}
.subtext{
    font-size: 18px;
    color: #FFF;
    margin-bottom: 20px;
    max-width: 550px;
}
.button{
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;

}
.button a{
    color: #383961;
    text-decoration: none;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition:0.4s;
}
.second-section{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.subtext-second{
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
    max-width: 650px;
    margin-right: 150px;
    margin-left: -70px;
}
.gym-img{
    background-image: url("https://thumbor.thedailymeal.com/opKcYX7uRLdIajlOMGuVG8qqGCU=/870x565/https://www.theactivetimes.com/sites/default/files/2019/02/08/00_istockphoto.com_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    margin-left: 150px;
    margin-right: 10px;
    height: 500px;
    width: 700px;
    background-color: #fff3df;
    border-radius: 30px;
}